@use "../variables.scss";

.container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: variables.$space-xxlarge;
}

.search {

}

.info {
    display: flex;
    gap: variables.$space-xxlarge;
}