@use "../variables.scss";

.excercisesTable > tbody> tr > td {
    border: none;
    padding: variables.$space-small variables.$space-large;
}

.buttonsDemoContainer {
    width: 50vw;
    display: flex; 
    flex-direction: column;
    gap: 20px;
}

.buttonsDemoRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputsDemo {
    display: flex;
    flex-direction: column;
    gap: variables.$space-large;
    max-width: 50vw;
}

.selectDemo {
    display: flex;
    flex-direction: column;
    width: 50vw;
}