@use "../variables.scss";

.excercisesTable > tbody> tr > td {
    border: none;
    padding: variables.$space-small variables.$space-large;
}

.buttonsDemoRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: variables.$space-medium;
}

.inputsDemo {
    display: flex;
    flex-direction: column;
    width: 50vw;
}