@use "../variables.scss";

.page {
    width: 100vw;
    height: 100vh;
    background-color: variables.$color-light-blue;
}

.container {
    width: 30%;
    padding: variables.$space-xxlarge;
    border-radius: variables.$space-medium;
    border: variables.$border-default;
    background-color: white;
}

@media only screen and (max-width: 800px) {
    .container {
      width: 80%;
    }
  }