@use "../variables.scss";

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: variables.$color-light-blue;
}

.form {
    display: flex;
    flex-direction: column;
    gap: variables.$space-large;
    max-width: 50%;
    padding: variables.$space-xxlarge;
    border-radius: variables.$space-medium;
    border: 2px solid variables.$color-light-gray;
    background-color: white;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: variables.$space-xxlarge;
}