@use "../../variables.scss";

.header {
    padding: variables.$space-xlarge;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: variables.$border-default;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: variables.$space-xxlarge;
}

.title {
    margin: 0;
}

.auth {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: variables.$space-xxlarge;
}