@use "../../variables.scss";

.tabNavItem {
    display: inline-flex;
    text-align: center;
    padding: 1em;
    background-color: variables.$color-light-blue;
    width: fit-content;
    cursor: pointer;
    transition: variables.$transition-quick;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.tabNavItem:hover {
    background-color: variables.$color-primary;
    color: white;
}

.tabNavItem.active {
    background-color: variables.$color-primary;
    color: white;
    border-top: 4px solid black;
}
