@use "../../variables.scss";

.tabNavItem {
    display: inline;
    text-align: center;
    padding: 1em;
    background-color: variables.$color-gray;
    width: fit-content;
    cursor: pointer;
    transition: variables.$transition-quick;
    flex: 1;
}

.tabNavItem:hover {
    background-color: variables.$color-light-gray;
}

.tabNavItem.active {
    background-color: variables.$color-primary;
    color: white;
    border-top: 4px solid black;
}
