@use "../../variables.scss";

.table {
    border-collapse: collapse;
}

.borderless > tr > td {
    border: none;
}

.loose > tr > td {
    padding: variables.$space-medium;
}

.condensed > tr > td {
    padding: variables.$space-small;
}