@use "../../variables.scss";

.table {
    border-collapse: collapse;
}

.borderless > tbody > tr > td {
    border: none;
}

.loose > tbody > tr > td {
    padding: variables.$space-medium;
}

.condensed > tbody > tr > td {
    padding: variables.$space-small;
}