@use "../../variables.scss";

.tableRow:hover {
    background-color: variables.$color-light-blue;
}

.expandable {
    cursor: pointer;
    transition: variables.$transition-quick;
}

.headerRow {
    font-weight: bold;
}