@use "../../variables.scss";

// TODO: Move hover to table component and make it optional with a flag
.tableRow:hover {
    background-color: variables.$color-light-blue;
}

.expandable {
    cursor: pointer;
    transition: variables.$transition-quick;
}

.headerRow {
    font-weight: bold;
}