@use "../../variables.scss";

.accordion {
    width: auto;
}

.panel:not(:last-of-type) {
    border-bottom: variables.$border-default;
}

.panelHeader {
    padding: variables.$space-medium;
    transition: variables.$transition-quick;
    cursor: pointer;
}

.panelHeader:hover {
    background-color: variables.$color-light-blue;
}

.primaryHeaderText {
    font-weight: bold;
    flex: 1;
}

.secondaryHeaderText {
    flex: 1;
}

.content {
    padding: variables.$space-medium;
}