@use "../../variables.scss";

.accordion {
    width: auto;
}

.panel:not(:last-of-type) {
    border-bottom: variables.$border-default;
}

.panelHeader {
    padding: variables.$space-medium;
    transition: variables.$transition-quick;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panelHeader:hover {
    background-color: variables.$color-light-blue;
}

.primaryHeaderText {
    font-weight: bold;
}

.content {
    padding: variables.$space-medium;
}