@use "../../variables.scss";

.button {
    border: 2px solid;
    border-radius: variables.$space-medium;
    padding: variables.$space-medium;
    transition: variables.$transition-quick;
    font-size: variables.$font-size-medium;
    cursor: pointer;
    white-space: nowrap;
}
.button:hover {
    opacity: 75%;
}
.button:focus-visible {
    outline: 2px double;
    outline-offset: 2px;
}
.buttonIconWithText {
    aspect-ratio: 1;
    margin-right: variables.$space-medium;
}
.buttonIconWithoutText {
    aspect-ratio: 1;
}

/* Size */
.small {
    font-size: variables.$font-size-small;
    padding: variables.$space-small;
    border-radius: variables.$space-small;
}
.small > .buttonIconWithText {
    margin-right: variables.$space-small;
}
.large {
    font-size: variables.$font-size-large;
    padding: variables.$space-large;
    border-radius: variables.$space-medium;
}

/* Color */
.primary,
.secondary:hover {
    background-color: variables.$color-primary;
    border-color: variables.$color-primary;
    color: white;
}
.secondary {
    background: none;
    color: variables.$color-primary;
    border-color: variables.$color-primary;
}
.danger.primary,
.danger.secondary:hover {
    color: white;
    background-color: variables.$color-error;
    border-color: variables.$color-error;
}
.danger.secondary {
    background: none;
    color: variables.$color-error;
    border-color: variables.$color-error;
}
.success.primary,
.success.secondary:hover {
    color: white;
    background-color: variables.$color-success;
    border-color: variables.$color-success;
}
.success.secondary {
    background: none;
    color: variables.$color-success;
    border-color: variables.$color-success;
}

/* Focus */
.secondary:focus-visible {
    outline-color: variables.$color-primary;
}
.primary:focus-visible {
    outline-color: variables.$color-primary;
}
.danger.primary:focus-visible,
.danger.secondary:focus-visible {
    outline-color: variables.$color-error;
}
.success.primary:focus-visible,
.success.secondary:focus-visible {
    outline-color: variables.$color-success;
}

/* Dropdown */
.dropdown {
    width: min-content;
    display: inline-block;
    position: relative;
}
.dropdownMenu {
    border: 1px solid variables.$color-gray;
    position: absolute;
    background-color: white;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
}
.dropdownItem {
    padding: variables.$space-medium;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hideMenu {
    display: none;
}
.dropdownItem:hover {
    background-color: variables.$color-light-gray;
}
.dropdownButtonIcon {
    margin-left: variables.$space-medium;
}
.dropdownItemLarge > .dropdownButtonIcon {
    margin-left: variables.$space-large;
}
.dropdownItem > .small,
.dropdownItem > .large {
    border-radius: none;
}