@use "../../variables.scss";

.input {
    border: 1px solid variables.$color-gray;
    border-radius: variables.$space-small;
    padding: variables.$space-medium;
}

.input:invalid {
    border-color: variables.$color-error;
    background-color: rgba(variables.$color-error, 0.1);
}

.invalid {
    border-color: variables.$color-error;
    background-color: rgba(variables.$color-error, 0.1);
}

.disabled {
    cursor: default;
    border-color: variables.$color-gray;
    background-color: variables.$color-light-gray;
}

.invalid:focus-visible {
    outline-color: variables.$color-error;
}