@use "../../variables.scss";

.container {
    display: inline-flex;
    flex-direction: column;
    width: fit-content;
}

.input {
    border: 1px solid black;
    border-radius: variables.$space-small;
    padding: variables.$space-small;
}

.label {
    margin-right: variables.$space-medium;
    margin-bottom: variables.$space-medium;
}

.disabled {
    cursor: not-allowed;
    border-color: variables.$color-gray;
    background-color: variables.$color-light-gray;
}

.invalid {
    border-color: variables.$color-error;
    background-color: rgba(variables.$color-error, 0.1);
}

.invalid:focus-visible {
    outline-color: variables.$color-error;
}
