@use "../../variables.scss";

.select {
    border: variables.$border-default;
    border-radius: variables.$space-small;
    padding: variables.$space-medium;
    cursor: pointer;
    min-width: 180px;
}

.label {
    margin-right: variables.$space-medium;
    margin-bottom: variables.$space-medium;
}

.disabled {
    cursor: default;
    border-color: variables.$color-gray;
    background-color: variables.$color-light-gray;
}

.select:hover {
    box-shadow: 0 4px 8px variables.$color-gray;
}