@use "../../variables.scss";

.select {
    border: 1px solid black;
    border-radius: variables.$space-small;
    padding: variables.$space-small;
}

.label {
    margin-right: variables.$space-medium;
    margin-bottom: variables.$space-medium;
}

.disabled {
    cursor: not-allowed;
    border-color: variables.$color-gray;
    background-color: variables.$color-light-gray;
}