@use "../../../variables.scss";

.exerciseBlock {
    margin-bottom: variables.$space-large;
}

.exerciseControls {
    margin-bottom: variables.$space-xlarge;
}

.deleteExerciseButton {
    margin-left: variables.$space-medium;
}

.setsBlock {
    margin-bottom: variables.$space-xlarge;
}