@use "../../../variables.scss";

.container {
    margin-top: variables.$space-large;
    margin-bottom: variables.$space-large;
}

.controls {
    margin-bottom: variables.$space-xlarge;
    display: flex;
    gap: variables.$space-medium;
}

.setsBlock {
    margin-bottom: variables.$space-xlarge;
}