@use "../../../variables.scss";

.container {
    width: fit-content;
}

.dateContainer {
    display: flex;
    align-items: center;
    gap: variables.$space-medium;
    margin-bottom: variables.$space-large;
}

.workoutControls {
    display: flex;
    gap: variables.$space-medium;
    margin-top: variables.$space-large;
}