/* Colors */
$color-primary: #096dd9;
$color-warning: #d4b106;
$color-error: #cf1322;
$color-success: #389e0d;
$color-gray: #cacaca;
$color-light-gray: #EFEFEF;
$color-light-blue: #E8F0FE;

/* Borders */
$border-thin: 1px solid $color-light-gray;
$border-default: 2px solid $color-light-gray;
$border-thick: 3px solid $color-light-gray;

/* Spacing */
$space-small: 4px;
$space-medium: 8px;
$space-large: 12px;
$space-xlarge: 16px;
$space-xxlarge: 24px;

/* Font size */
$font-size-small: 0.8rem;
$font-size-medium: 1rem;
$font-size-large: 1.2rem;

/* Transitions */
$transition-quick: all 0.2s ease-in;
$transition-medium: all 0.4s ease-in;
$transition-slow: all 0.6s ease-in;

/* Breakpoints */
$breakpoint-800: 800px;
$breakpoint-1200: 1200px;